service dispfw_fe /system/bin/sh /vendor/bin/dfw.sh
    user root
    group root
    oneshot
    disabled
    seclabel u:r:su:s0

on early-init
    start dispfw_fe


on property:sys.boot_completed=1
    stop seriallogging
