
userdebug_or_eng(`
dontaudit crash_dump resourcecache_data_file:file { getattr map };
dontaudit crash_dump resourcecache_data_file:file { open read };
dontaudit crash_dump vendor_overlay_file:file { getattr map open read };
dontaudit crash_dump vendor_overlay_file:file { open read };
dontaudit flags_health_check aac_drc_prop:file map;
dontaudit flags_health_check ab_update_gki_prop:file map;
dontaudit flags_health_check adaptive_haptics_prop:file { getattr open };
dontaudit flags_health_check adaptive_haptics_prop:file map;
dontaudit flags_health_check adbd_config_prop:file { getattr map open };
dontaudit flags_health_check adbd_config_prop:file open;
dontaudit flags_health_check apexd_config_prop:file { getattr map open };
dontaudit flags_health_check apexd_config_prop:file { getattr open };
dontaudit flags_health_check apexd_prop:file { getattr map open };
dontaudit flags_health_check apk_verity_prop:file { getattr map open };
dontaudit flags_health_check audio_config_prop:file { getattr map open };
dontaudit flags_health_check bluetooth_a2dp_offload_prop:file map;
dontaudit flags_health_check bluetooth_audio_hal_prop:file map;
dontaudit flags_health_check bluetooth_prop:file { getattr map open };
dontaudit flags_health_check bluetooth_prop:file open;
dontaudit flags_health_check bootanim_config_prop:file { getattr map open };
dontaudit flags_health_check bootanim_config_prop:file open;
dontaudit flags_health_check bootanim_system_prop:file { getattr map open };
dontaudit flags_health_check bootanim_system_prop:file { getattr open };
dontaudit flags_health_check bootloader_boot_reason_prop:file { getattr map open };
dontaudit flags_health_check boottime_prop:file { getattr map open };
dontaudit flags_health_check boottime_public_prop:file { getattr map open };
dontaudit flags_health_check boottime_public_prop:file { getattr open };
dontaudit flags_health_check bpf_progs_loaded_prop:file { getattr map open };
dontaudit flags_health_check build_attestation_prop:file { getattr map open };
dontaudit flags_health_check build_bootimage_prop:file { getattr map open };
dontaudit flags_health_check build_config_prop:file { getattr open };
dontaudit flags_health_check build_config_prop:file map;
dontaudit flags_health_check camera2_extensions_prop:file map;
dontaudit flags_health_check camera_calibration_prop:file { getattr map open };
dontaudit flags_health_check camera_calibration_prop:file open;
dontaudit flags_health_check camerax_extensions_prop:file { getattr map open };
dontaudit flags_health_check camerax_extensions_prop:file { getattr open };
dontaudit flags_health_check charger_config_prop:file { getattr map open };
dontaudit flags_health_check charger_prop:file { getattr map open };
dontaudit flags_health_check charger_status_prop:file { getattr map open };
dontaudit flags_health_check codec2_config_prop:file { getattr map open };
dontaudit flags_health_check cold_boot_done_prop:file { getattr map open };
dontaudit flags_health_check composd_vm_art_prop:file { getattr map open };
dontaudit flags_health_check composd_vm_vendor_prop:file { getattr map open };
dontaudit flags_health_check cpu_variant_prop:file map;
dontaudit flags_health_check ctl_adbd_prop:file map;
dontaudit flags_health_check ctl_apexd_prop:file { getattr map open };
dontaudit flags_health_check ctl_apexd_prop:file { getattr open map };
dontaudit flags_health_check ctl_bootanim_prop:file { getattr map open };
dontaudit flags_health_check ctl_bugreport_prop:file { getattr map open };
dontaudit flags_health_check ctl_console_prop:file { getattr open map };
dontaudit flags_health_check ctl_interface_restart_prop:file { getattr open map };
dontaudit flags_health_check ctl_interface_stop_prop:file { getattr open map };
dontaudit flags_health_check ctl_start_prop:file { getattr open map };
dontaudit flags_health_check device_logging_prop:file { getattr open map };
dontaudit flags_health_check drm_service_config_prop:file { getattr open map };
dontaudit flags_health_check exported_bluetooth_prop:file { getattr open map };
dontaudit flags_health_check keyguard_config_prop:file { getattr map open };
dontaudit flags_health_check keystore_config_prop:file { getattr map open };
dontaudit flags_health_check llkd_prop:file { getattr map open };
dontaudit flags_health_check lmkd_prop:file { getattr map open };
dontaudit flags_health_check logpersistd_logging_prop:file { getattr map open };
dontaudit flags_health_check logpersistd_logging_prop:file { getattr open map };
dontaudit flags_health_check lowpan_prop:file { getattr map open };
dontaudit flags_health_check lpdumpd_prop:file { getattr map open };
dontaudit flags_health_check media_config_prop:file { getattr map open };
dontaudit flags_health_check media_variant_prop:file { getattr open map };
dontaudit flags_health_check media_variant_prop:file { getattr open map };
dontaudit flags_health_check mmc_prop:file { getattr map open };
dontaudit flags_health_check mmc_prop:file { getattr open map };
dontaudit flags_health_check mm_events_config_prop:file { getattr map open };
dontaudit flags_health_check mock_ota_prop:file { getattr map open };
dontaudit flags_health_check net_dns_prop:file { getattr map open };
dontaudit flags_health_check nnapi_ext_deny_product_prop:file { getattr open };
dontaudit flags_health_check overlay_prop:file { getattr map open };
dontaudit flags_health_check packagemanager_config_prop:file { getattr map open };
dontaudit flags_health_check persistent_properties_ready_prop:file { getattr map open };
dontaudit flags_health_check persist_vendor_debug_wifi_prop:file { getattr map open };
dontaudit flags_health_check persist_wm_debug_prop:file { getattr map open };
dontaudit flags_health_check power_debug_prop:file { getattr map open };
dontaudit flags_health_check provisioned_prop:file { getattr map open };
dontaudit flags_health_check qemu_hw_prop:file { getattr map open };
dontaudit flags_health_check qemu_sf_lcd_density_prop:file { getattr map open };
dontaudit flags_health_check quick_start_prop:file { getattr map open };
dontaudit flags_health_check quick_start_prop:file { getattr open };
dontaudit flags_health_check rebootescrow_hal_prop:file { getattr map open };
dontaudit flags_health_check rebootescrow_hal_prop:file { getattr open };
dontaudit flags_health_check recovery_config_prop:file { getattr map open };
dontaudit flags_health_check recovery_usb_config_prop:file { getattr map open };
dontaudit flags_health_check retaildemo_prop:file { getattr map open };
dontaudit flags_health_check safemode_prop:file { getattr open map };
dontaudit flags_health_check sendbug_config_prop:file { getattr map open };
dontaudit flags_health_check serialno_prop:file { getattr map open };
dontaudit flags_health_check smart_idle_maint_enabled_prop:file { getattr open map };
dontaudit flags_health_check smart_idle_maint_enabled_prop:file { getattr open map };
dontaudit flags_health_check storage_config_prop:file { getattr map open };
dontaudit flags_health_check storage_config_prop:file { getattr open map };
dontaudit flags_health_check surfaceflinger_display_prop:file { getattr map open };
dontaudit flags_health_check suspend_prop:file { getattr map open };
dontaudit flags_health_check system_boot_reason_prop:file { getattr map open };
dontaudit flags_health_check system_jvmti_agent_prop:file { getattr map open };
dontaudit flags_health_check system_lmk_prop:file { getattr map open };
dontaudit flags_health_check system_trace_prop:file { getattr map open };
dontaudit flags_health_check system_user_mode_emulation_prop:file { getattr map open };
dontaudit flags_health_check test_boot_reason_prop:file { getattr map open };
dontaudit flags_health_check test_harness_prop:file { getattr map open };
dontaudit flags_health_check theme_prop:file { getattr map open };
dontaudit flags_health_check time_prop:file { getattr map open };
dontaudit flags_health_check tombstone_config_prop:file { getattr map open };
dontaudit flags_health_check traced_enabled_prop:file { getattr map open };
dontaudit flags_health_check traced_lazy_prop:file { getattr map open };
dontaudit flags_health_check traced_oome_heap_session_count_prop:file { getattr map open };
dontaudit flags_health_check tuner_config_prop:file { getattr map open };
dontaudit flags_health_check usb_uvc_enabled_prop:file { getattr map open };
dontaudit flags_health_check vehicle_hal_prop:file { getattr map open };
dontaudit flags_health_check vendor_boot_security_patch_level_prop:file { getattr map open };
dontaudit flags_health_check vendor_bt_rootcanal_prop:file { getattr map open };
dontaudit flags_health_check vendor_camera_prop:file { getattr map open };
dontaudit flags_health_check vendor_cuttlefish_config_server_port_prop:file { getattr map open };
dontaudit flags_health_check vendor_default_prop:file { getattr map open };
dontaudit flags_health_check vendor_device_prop:file { getattr map open };
dontaudit flags_health_check vendor_enable_confirmationui_prop:file { getattr map open };
dontaudit flags_health_check vendor_graphics_config_prop:file { getattr map open };
dontaudit flags_health_check vendor_hal_dumpstate_prop:file { getattr map open };
dontaudit flags_health_check vendor_hwcomposer_prop:file { getattr map open };
dontaudit flags_health_check vendor_modem_simulator_ports_prop:file { getattr map open };
dontaudit flags_health_check vendor_security_patch_level_prop:file { getattr map open };
dontaudit flags_health_check vendor_ser_prop:file { getattr map open };
dontaudit flags_health_check vendor_vsock_keyboard_port:file { getattr map open };
dontaudit flags_health_check vendor_vsock_touch_port:file { getattr map open };
dontaudit flags_health_check vendor_wifi_impl:file { getattr map open };
dontaudit flags_health_check vendor_wifi_mac_prefix:file { getattr map open };
dontaudit flags_health_check vendor_wlan_versions_prop:file { getattr map open };
dontaudit flags_health_check virtual_ab_prop:file { getattr map open };
dontaudit flags_health_check virtual_face_hal_prop:file { getattr map open };
dontaudit flags_health_check virtual_fingerprint_hal_prop:file { getattr map open };
dontaudit flags_health_check vold_post_fs_data_prop:file { getattr map open };
dontaudit flags_health_check wifi_config_prop:file { getattr map open };
dontaudit flags_health_check wifi_hal_prop:file { getattr map open };
dontaudit flags_health_check wifi_prop:file { getattr map open };
dontaudit flags_health_check zram_config_prop:file { getattr map open };
dontaudit flags_health_check zram_control_prop:file { getattr map open };
dontaudit init sysfs:file open;
dontaudit platform_app sysfs:file { getattr open read };
dontaudit system_server graphics_device:chr_file getattr;
dontaudit system_server sysfs:file { getattr open };
dontaudit system_server sysfs:file read;
dontaudit system_server trout_virtwifi_setup:binder call;
dontaudit trout_virtwifi_setup shell_exec:file { execute getattr };
dontaudit trout_virtwifi_setup shell_exec:file { map read };
dontaudit trout_virtwifi_setup system_file:file { execute_no_trans getattr open read execute };
dontaudit trout_virtwifi_setup wifi_service:service_manager find;
dontaudit update_engine sysfs:file { getattr open read };

dontaudit flags_health_check ctl_default_prop:file { getattr map open };
dontaudit flags_health_check ctl_interface_start_prop:file { getattr map open };
dontaudit flags_health_check ctl_sigstop_prop:file { getattr map open };
dontaudit flags_health_check ctl_start_prop:file { getattr map open };
dontaudit flags_health_check ctl_stop_prop:file { getattr map open };
dontaudit flags_health_check dck_prop:file { getattr map open };
dontaudit flags_health_check debugfs_restriction_prop:file { getattr map open };
dontaudit flags_health_check dumpstate_options_prop:file { getattr map open };
dontaudit flags_health_check dynamic_system_prop:file { getattr map open };
dontaudit flags_health_check exported_overlay_prop:file { getattr map open };
dontaudit flags_health_check ffs_control_prop:file { getattr map open };
dontaudit flags_health_check firstboot_prop:file { getattr map open };
dontaudit flags_health_check hal_dumpstate_config_prop:file { getattr map open };
')

