[Unit]
Description=Android Dumpstate GRPC Server

Wants=multi-user.target
After=multi-user.target

[Service]
ExecStart=/usr/bin/dumpstate_grpc_server -server_addr vsock:2:9310
Restart=always

[Install]
WantedBy=multi-user.target
